---
- name: Update APT package index
  apt:
    update_cache: yes

- name: Install MySQL
  package:
    name: mysql-server
    state: present

- name: Ensure MySQL is running
  service:
    name: mysql
    state: started
    enabled: true